# Node.js / Angular
node_modules/
dist/
out-tsc/
coverage/
npm-debug.log*
yarn-error.log*
package-lock.json

# VS Code
.vscode/

# Mac OS
.DS_Store

# IntelliJ IDEA
.idea/
*.iml

# Sistema operacional
Thumbs.db

# Arquivos temporários
*.tmp
*.swp
*.swo

# Angular environment files (opcional, se usar diferentes configs)
# src/environments/*.ts

# Outros
.env